/* Start News */
.news{
  padding: 40px 0 0 0;
  .letter {
    position: relative;
    img {
      -webkit-border-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      width: 100%;
      height: 250px;
    }

    img {
      background-size: cover;
    }

    .bar {
      position: absolute;
      bottom: 0;
      left: 40px;

      span {
        font-family: $font-base;
        font-size: 15.7px;
        font-weight: bold;
        font-stretch: normal;
        color: #ffff;
        margin: 10px;


      }
      h2{
        color: #08302e;
        font-size: 38px;
        font-stretch: normal;
        font-family: $font-base;
        font-weight: bold;
        margin: 10px;
      }
      .form-control{
        background-color: $bg-color;
        color: #eff0f0;
        margin: 10px ;
        width: 90%;
      }
    }
  }
}
/* End News */

/* Start Footer */
footer {
  padding: 60px 0;
  background-color: $bg-color;
  h2{
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1.4;
  }
  h6{
    color: $main-color;
    font-family: $font-base2;
    font-size: 13.7px;
    font-weight: 600;
    line-height: 1.2;
  }
  span{
    font-family: $font-base2;
    font-size: 12px;
    font-weight: 600;
    line-height: 2;
    letter-spacing: 3px;
    color: #ffffff;
  }
  hr{
    margin: 15px 0 30px 0;
    color: $main-color;
  }
  .list-inline{
    padding: 10px 0;
    a{
      color: #ffffff;
      padding: 0px 5px;
      text-decoration: none;
    }
  }
}
/* End Footer */