.navbar {
  width: 100%;
  position: absolute;
  z-index: 2;
  .navbar-brand {
    width: 40%;
    margin-left: 20px;
    padding: 25PX 0;
  }
  .navbar-toggler-icon{
    font-size: 40px;
    border: none;
  }

  .nav-link {
    font-family:$font-base;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    padding: 10px 0;
    letter-spacing: normal;
    color: #ffffff !important;


  }
  .gold-icon{
    color: $main-color !important;
  }
  .navbar-nav .active > .nav-link {
    color:$main-color !important;

  }
  .navbar-nav .active-1 > .nav-link {
    color:$main-color !important;

  }
}

/* Header Style */
header {
  width: 100%;
  -webkit-border-size: cover ;
  background-size: cover ;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: .9;
  height: 65vh;
  .banner {
    margin: 200px 0;
    h2{
      color: #fff;
      font-size: 45px;
      font-weight: 400;
      padding: 10px 0;
    }
    span{
      font-size: 17px;
      color: $main-color2;
      text-transform: uppercase;
      position: absolute;
      left: 10px;
      top: 360px;
      :first-child{
        color: $main-color;
        position: absolute;
        left: 55px;
        top: 0;
      }
    }
  }

}
/* END HEADER */
