/* About-us Style */
.about-us{
  margin: 30px 0;
  .top {
    text-align: center;
    position: relative;
    max-width: 800px; /* Maximum width */
    margin: 0 auto;
    padding: 60px 0;

    img {
      opacity: .2;
    }

    h2 {
      color: $main-color;
      font-family: $font-base;
      font-size: 69px;
      font-weight: 800;
      font-stretch: normal;
      letter-spacing: normal;
    }
  }
 .mission{
   .text{
     color: $main-color;
     font-size: 44px;
     font-weight: 600;
     line-height: 1.93;
   }
   .sm-text{
     color: #545453;
     font-size: 12px;
     font-weight: 500;
     font-stretch: normal;
     font-style: normal;
     line-height: 1.5;
     letter-spacing: 3px;
   }
 }
}
/*End About Us */
.we-are{
  .text{

  }
  .sm-text{
    font-family: $font-base2;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75;
    letter-spacing: 1.5px;
    color: #5a7184;
  }
  .text-5{
    font-family: HKGrotesk, sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 0.2px;
    color: #183b56;
  }
}
