.contact{
  background-color: #EDEEEE;
  padding:30px 0 ;
  .top {
    text-align: left;
    position: relative;
    max-width: 800px; /* Maximum width */
    margin: 0 auto;
    padding: 60px 0;

    h2 {
      color: $main-color;
      font-family: $font-base;
      font-size: 60px;
      font-weight: 800;
    }
    .text-sm{
      font-size: 24px;
      font-weight: 600;
      line-height: .5px;
      color: #adaaaa;
    }
    .small{
      font-family: Gilroy, sans-serif;
      font-size: 13px;
      font-weight: 500;
      color: #545453;
    }
  }
  input {
    border: 0;
    border-bottom: 1px solid #a1a1a1;
    color: #a1a1a1;
    margin: 15px 0;
  }
    .form-group textarea {
      border: 0;
      //border-bottom: 1px solid #a1a1a1;
      color: #a1a1a1;
      margin: 15px 0;
    }
  .list-inline {
    .list{
      padding: 10px 0;
      span{
        font-size: 17px;
        color: $main-color2;
        font-size: $font-base;
        letter-spacing: .5px;
      }
    }
  }
}
/*End Contact */

/*Start become */
.become {
  background-color: #fff;
  padding:30px 0 ;
  .top {
    text-align: left;
    position: relative;
    max-width: 800px; /* Maximum width */
    margin: 0 auto;
    padding: 60px 0;

    h2 {
      color: $main-color;
      font-family: $font-base;
      font-size: 60px;
      font-weight: 800;
    }
    .text-sm{
      font-size: 24px;
      font-weight: 600;
      line-height: .5px;
      color: #adaaaa;
    }
    .small{
      font-family: Gilroy, sans-serif;
      font-size: 13px;
      font-weight: 500;
      color: #545453;
    }
  }
  a{
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: $bg-color;
    margin-bottom: 7px;
  }

  img{
    height: 300px;
  }
}