.info{
  padding: 30px 0;
  .top {
    text-align: center;
    position: relative;
    max-width: 800px; /* Maximum width */
    margin: 0 auto;
    padding: 60px 0;

    img {
      opacity: .2;
    }

    h2 {
      color: $main-color;
      font-family: $font-base;
      font-size: 69px;
      font-weight: 800;
      font-stretch: normal;
      letter-spacing: normal;
    }
    .small{
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0);
      color: #adaaaa;
      font-size: 28px;
      font-weight: 600;
      width: 100%;
      padding: 150px;
    }
    span{
      font-family: Gilroy;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: .5px;
      text-align: center;
      color: $main-color2;
    }
  }
}
/* End INFO */
.banner{
  background-image: url("/images/faq&info/Rectangle 60.png");
  -webkit-border-size: cover ;
  background-size: cover ;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
}
.question{
  text-align: center;
  padding: 60px 0 40px 0;
  h2{
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
  }
  p{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
  }
}


.card {
  margin: 15px 0;
}
.question .accordion .card-header h2 {
  text-align: left;
}
.card-header{
  background-color: $bg-color;
}
.question .accordion .card-header .btn-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
}
.question .accordion img {
  border: none;
  padding: 0 8px;
}
.active, .btn-link:active{
  background-color:$bg-color;
  color: #FFF !important;
}


.accordion .card-body {
  color:#999999;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}
