.faq-info{
  margin: 30px 0;
.top{
  text-align: center;
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto;
  padding: 60px 0;

  img {
    opacity: .2;
  }

  .small {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.0);
    color: #adaaaa;
    font-size: 28px;
    font-weight: 600;
    width: 100%;
    padding: 150px;

  }
  span{
    font-family: gilory, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #545453;
  }

  h2 {
    color: $main-color;
    font-family: $font-base;
    font-size: 69px;
    font-weight: 800;
    font-stretch: normal;
    letter-spacing: normal;
  }
}

}
.faq {
  .position-absolute {
    top: 60%;
    left: 18%;
    transform: translate(-50px, -50px);
  }
  button {
    background: #0b5a5a;
  }
  .text{
    color: $main-color;
    font-size: 49px;
    font-weight: 600;
    line-height: 1.92;
    color: #bc945d;
  }
  .sm-text{
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: .5px;
    color: #545453;
  }
}


/* End FAQ */
/* start Video */
.video {
  margin: 30px 0;

  img {
    width: 70%;
  }

  .position-absolute {
    width: 25%;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 23px;
    background: #fff;
    bottom: 3%;
    left: 15%;

    .text {
      color: $main-color;
      font-size: 30px;
      font-weight: 600;
      line-height: 1;
    }

    .sm-text {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.5;
      color: #545453;

    }
  }

  .elibse i {
    position: absolute;
    top: 50%;
    left: 64%;
    transform: translate(-50%, -50%);
    font-size: 75px;
    color: white;
  }

  .play {
    color: #d0a467 !important;
    font-size: 15px !important;
  }

}
@media (max-width : 700px){
  .video .position-absolute {
    padding: 5px;
    bottom: 5%;
    left: 18%;
  }
}
@media (max-width : 1000px){
  .video .position-absolute {
    padding: 6px;
    border: .5px solid #fff;
    border-radius: 10px;
    bottom: 8%;
    left: 15%;
  }

  .video h3 {
    font-size: 1rem;
  }

  .video p {
    font-size: 9px;
  }

}
@media (max-width : 580px) {
  .video{
    height: 80vh;
    margin: 100px 0;
  }
  .video .position-absolute {
    width: 50%;
    left: 20px;
    top: 140px;
  }
  .img{
    width: 60%;
    position: absolute;
    top: 40%;
  }

  .video .position-absolute .sm-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    color: #545453;
  }
}
  /* ENd Video */
  /* Start Sheet */
  .sheet {
    background-color: #EDEEEE;

    .triangle {
      height: 150px !important;
      background: #fff;
    }

    .position-absolute {
      bottom: 0%;
    }

    .text {
      font-family: $font-base;
      color: $main-color;
      font-size: 27px;
      font-weight: 600;
    }

    .sm-text {
      font-family: Gilroy, sans-serif;
      color: #545453;
      font-size: 16px;
      font-weight: 500;

    }

    .fas {
      position: relative;
      bottom: 45px;
      left: 10px;
      color: #e73043;
      font-size: 50px;
    }
    @media (max-width : 1000px){
      .triangle {
        height: 170px !important;
      }
      .triangle .fas{
        position: relative;
        bottom: 45px;
        left: 10px;
        color: red;
        font-size: 50px;
      }
    }
    @media (max-width : 700px) {
      .triangle {
        height: 285px !important;
      }
      .triangle .text {
        font-size: 20px;
        padding: 10px ;
      }
      .triangle .fas{
        position: relative;
        bottom: 10px;
        left: 10px;
        color: red;
        font-size: 50px;
      }
    }
    }
  /* End Sheet */
/* Strat scientific*/
.scientific {
  .top {
    text-align: center;
    position: relative;
    max-width: 800px; /* Maximum width */
    margin: 0 auto;
    padding: 60px 0;

    h2 {
      color: $main-color;
      font-family: $font-base;
      font-size: 60px;
      font-weight: 800;
    }
    .small{
      font-family: Gilroy, sans-serif;
      font-size: 13px;
      font-weight: 500;
      color: #545453;
    }
  }
  .card-title{
    font-family: HKGrotesk, sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.29;
    color: $main-color3;
  }
  .card-text{
    font-family: $font-base2;
    font-size: 18px;
    color: #5a7184;
  }
  a{
    font-size: 18px;
    font-weight: bold;
    color: #1c8484;
    margin-bottom: 7px;
  }
}
/* END scientific */

