.rectangle{
  .position-absolute {
    top: 16%;
    .text{
      color: $main-color;
      font-family: $font-base;
    }
    .sm-text{
      font-family: $font-base2;
      font-size: 12px;
      font-weight: 600;
      line-height: 1.5;
      color: #545453;
    }
    .large-text{
      font-family: OpenSans, sans-serif;
      font-size: 32px;
      line-height: 1.22;
      letter-spacing: .5px;
    }
  }
}
/*END Style*/
/*Start Style */
.content {
  background: $bg-color;
  padding: 50px 0;
  .sm-text{
    font-family: $font-base2;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    color: #545453;
  }
}
/* END Style */
/* Start Style */
.lorem  {
  padding: 15px 0;
  .text{
    font-family: SegoeUI;
    font-size: 33px;
    font-weight: bold;
    line-height: 2.86;
    letter-spacing: normal;
    color: #292727;
  }
  .sm-text{
    padding: 0;
    font-family: $font-base2;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.4;
    color: #5a7184;
  }
}
/*END STYLE */
/* Start style */
.flwo  {
  .text-flow {
    color: #bc945d;
    font-family: 'prata', serif;
  }
  .text{
    color: #1c8484;
    font-weight: bold;
  }
  .sm-text{
    font-family: $font-base2;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    color: #545453;
  }
}
.item div:first-child,
.catalog div:first-child {
  background: #1c8484;
}

.item div,
.catalog div {
  margin-top: 12px;
  background: #fff;
  padding: 13px 0px 13px 40px;
}

.order button {
  margin-top: 20px;
  padding: 11px 50px;
}
.rotated-half-circle {
  width: 100px;
  height: 100px;
  border: 10px solid #20bcbc;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(-45deg);
  position: relative;
  z-index: 5;
}

.rotated-half-circle-down {
  width: 100px;
  height: 100px;
  border: 10px solid #20bcbc;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(135deg);
  position: relative;
  z-index: 5;
}

.rotated-circle-down {
  width: 100px;
  height: 100px;
  border: 10px solid #bccace;
  border-radius: 50%;
  position: absolute;
  top: 0px;
}

.small-circle {
  width: 25px;
  height: 25px;
  border: 7px solid #20bcbc;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 86%;
  z-index: 10;
  background: #fff;
}

li {
  position: relative;
  float: left;
}
/*circle Style*/
.rotated-half-circle {
  width: 100px;
  height: 100px;
  border: 10px solid #20bcbc;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(-45deg);
  position: relative;
  z-index: 5;
}

.rotated-half-circle-down {
  width: 100px;
  height: 100px;
  border: 10px solid #20bcbc;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(135deg);
  position: relative;
  z-index: 5;
}

.rotated-circle-down {
  width: 100px;
  height: 100px;
  border: 10px solid #bccace;
  border-radius: 50%;
  position: absolute;
  top: 0px;
}

.small-circle {
  width: 25px;
  height: 25px;
  border: 7px solid #20bcbc;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 86%;
  z-index: 10;
  background: #fff;
}
/* End circle Style*/

/*Start btn */

.order button {
  margin-top: 20px;
  padding: 10px 65px;
}

/*END btn*/

/* MEdia Query */

@media (max-width : 1200px) {
  .rectangle .position-absolute {
    position: relative !important;
  }
}

@media (max-width : 1000px) {

  .item h5,
  .catalog h5 {
    font-size: 15px;
  }

  .catalog div:first-child {
    margin-top: -9px;
  }
}
/* END Media */
