/* Start Doctor */
.doctor{
  padding: 80px 0;
  .triangle {
    width: 80%;
    background-color: #1c8484;
    height: 419px;
    clip-path: polygon(0 0, 170% 26%, 100% 100%, 0 100%);
    border-radius: 50px;
  }
  .position-absolute {
    top: 41.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    img{
      height: 490px;
    }
  }
  .list-inline{
    display: inline-grid;
    .list-inline-item{
      span{
        font-family: HKGrotesk;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.45;
        color: $main-color3;
        padding-left: 5px;
      }
      .fas{
        font-size: 30px;
        color: #e73043;
        padding-right: 5px;
      }
    }
  }

}
/* ENd Doctor */
/* Start Order */
.order{
  background-color: #EFF0F0;
  padding: 30px 0;
  .caption{
    padding-top: 85px;
    text-align: right;
    .text{
      font-family: $font-base;
      font-size: 44px;
      font-weight: 600;
     color:$main-color;
      line-height: 1.93;
    }
    .sm-text{
      font-family: Gilroy;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.5;
      color: $main-color2;
    }
  }
  a{
    background-color: $bg-color;
    color: #fff;
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.88;
    margin: 15px 0;
    &:hover {
      background-color: $main-color;
      color: #ffff;
      cursor: pointer;
    }
  }
  .order-btn{
    background-color: #e73043;
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #fefefe;
    padding: 15px 70px;
    &:hover{
        background-color: $main-color;
        color: #ffff;
        cursor: pointer;

    }
  }
}
/* End Order */