/* Start Carousel Style */
.image-banner{
  -webkit-border-size: cover ;
  background-size: cover ;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.carousel-indicators{
  display: block;
  margin: 0;
  left: 35px;
  bottom: 140px;
}
  .carousel-indicators li {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    margin: 0 10px;

    &:hover {
      background-color: $main-color;
    }
  }

.carousel-caption {
  h2 {
    font-family: $font-base;
    text-transform: capitalize;
    font-size: 127px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
  }
  span{
    height: 20px;
    font-family: $font-base;
    font-size: 17px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.54;
    letter-spacing: 18.7px;
    color: #b3b3b3;
  }
}

.carousel-control-prev-icon{
  color: #ffc645;
  size: 50px;
}



@media only screen and (min-width:768px) and (max-width:991px) {

}

@media only screen and (max-width:767px){
  .navbar{
    font-size: 30px;
    padding: 20px 15px;
  }
  .navbar-collapse{
    padding-bottom: 120px;
  }
  .carousel-caption {
    padding-bottom:198px;
  }
  .carousel-caption h2 {
    font-size: 25px;
  }
  .carousel-caption a{
    padding:10px 25px;
  }
}
/*End Carousel Style*/

/* Start Photo Style */
.photos{
  padding: 20px 0;
.one{
  margin: 40px 0;
  background-color: $bg-color;
  height: 350px;
  bottom: 43px;
  .pic-one{
    position: absolute;
    bottom: 50px;
    left: 45px;
    width: 75%;
    opacity: 0.5;
  }
  .caption-one{
    position: absolute;
    bottom: 50px;
    left: 30px;
  }
}
  .pic-two {
    margin: 15px 0;
  }
    .caption-tow{
      position: absolute;
      top: 170px;
  }
  .pic-three {
    margin: 15px 0;
  }
    .caption-three{
      position: absolute;
      bottom: 10px;
      left: 45px;
      .text{
        font-size: 40px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.19;
        letter-spacing: normal;
        color: $main-color;
      }
    }
  .caption{
    span {
      font-family: $font-base;
      font-size: 28px;
      font-weight: 500;
      padding-left: 50px;
      font-stretch: normal;
      letter-spacing: normal;
      color: #f9f9f9;
    }
    h4{
      color: $main-color;
      font-size: 83px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: .3;
      letter-spacing: normal;
    }
  }
  }


/*End Photo */

/*Start Work */
.work {
  padding: 15px 0;
  background-color: $bg-color2;

  .top {
    text-align: center;
    position: relative;
    max-width: 800px; /* Maximum width */
    margin: 0 auto;
    padding: 60px 0;

    img {
      opacity: .2;
    }

    .small {
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.0);
      color: #adaaaa;
      font-size: 28px;
      font-weight: 600;
      width: 100%;
      padding: 130px;

    }

    h2 {
      color: $main-color;
      font-family: $font-base;
      font-size: 69px;
      font-weight: 800;
      font-stretch: normal;
      letter-spacing: normal;
    }
  }

  .like {
    padding-left: 90px;

  .dot {
    width: 120.2px;
    height: 117.5px;
    border-radius: 50%;
    background-color: #0b2e13;
    margin-bottom: 10px;

  }

  .fas {
    color: #fff;
    font-size: 50px;
   padding: 30px 35px;

  }

  h6 {
    color: #1f1e1e;
    font-size: 15px;
    font-weight: 500;
  }

  p {
    color: #adaaaa;
    font-size: 13px;
  }
}
}
/* End Work */

/* Sratrt Goal */

.goal {
  padding: 20px 0;

  .img-banner {
    -webkit-border-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;

  }

  .caption {
    position: absolute;
   width: 105%;
    top: 290px;
    text-align: center;

    h2 {
      font-family: $font-base;
      color: $main-color;
      text-transform: capitalize;
      font-size: 100px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
    }

    span {
      height: 20px;
      font-family: Roboto, serif;
      font-size: 20px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.54;
      letter-spacing: 18.7px;
      color: #ffffff;

    }
  }

  .card-group {
    position: relative;
  .card {
    background-color: $bg-color;
    padding: 40px 0;
    bottom: 160px;
    width: 70%;
    left: 50px;
    margin-bottom: 10px;
    .card-body {
      padding: 20px 20px;

      .fas {
        color: #fff;
        padding: 10px 10px;
        font-size: 30px;
      }

      .card-title {
        color: $main-color;
        font-size: 32px;
        font-family: $font-base;
        font-weight: 600;
        line-height: 1.7;
      }

      .card-text {
        font-family: MyriadPro, sans-serif;
        font-size: 14px;
        letter-spacing: normal;
        color: #fff;
        line-height: 1.8;
      }
    }
  }
}
}
/* End Goal */

/* Start About */
.about{
  padding: 20px 0;
  background-color: #FFFFFF;
  .top {
    text-align: center;
    position: relative;
    max-width: 800px; /* Maximum width */
    margin: 0 auto;
    padding: 60px 0;

    img {
      opacity: .2;
    }

    .small {
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.0);
      color: #adaaaa;
      font-size: 28px;
      font-weight: 600;
      width: 100%;
      padding: 130px;

    }

    h2 {
      color: $main-color;
      font-family: $font-base;
      font-size: 69px;
      font-weight: 800;
      font-stretch: normal;
      letter-spacing: normal;
    }
  }
  h4{
    color: #323030;
    font-family: SegoeUI, serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 3.37;
    letter-spacing: normal;
  }
  p{
    font-family:$font-base;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    padding: 0 10px;
    width: 80%;
    color: $main-color2;
  }
  .plus{
    padding: 0 80px;
    color: $main-color;
  }
  .play{
    position: relative;
    img{
      width: 100%;
      height: 78vh;
      position: absolute;
      top: 70px;
    }
  }
  .elibse  {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%);
    font-size: 75px;
    color: $main-color;
  }

  .playbtn {
    position: absolute;
    left: 30px;
    bottom: 45px;
    color: #fff;
    font-size: 20px;
  }


}
/* End About */

/* Start Global */
.global{
  padding: 20px 0;
.card-body{
  .card-title{
    font-family: SegoeUI;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    color: $main-color;
  }
  .card-text{
    font-family: SegoeUI;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: $main-color2;
  }
}
}
/* End Global */

