.top {
  text-align: center;
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto;
  padding: 60px 0;

  h2 {
    color: $main-color;
    font-family: $font-base;
    font-size: 60px;
    font-weight: 800;
  }
  .text-sm{
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    color: #adaaaa;
    font-size: 28px;
    font-weight: 600;
    width: 100%;
    padding: 145px;
  }
  .small{
    font-family: Georgia,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.88;
    letter-spacing: .5px;
    color: #545453;
  }
  img{
    opacity: .5;
  }
}
/* END Style */
.predisposition{
  .text-3{
    color: $main-color ;
    font-familey:$font-base;
  }
  .text-sm{
    font-family: Gilroy,sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    color: #545453;
  }
  .btn-green {
    background: #1c8484;
    color: #fff;
  }
   .position-absolute {
    top: 37%;
    left: 20%;
  }
}

.precision {
padding: 10px 0;
  .text-3{
    color: $main-color ;
    font-familey:$font-base;
  }
  .text-sm{
    font-family: Gilroy,sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    color: #545453;
  }
  .btn-green {
    background: #1c8484;
    color: #fff;
  }
  .position-absolute {
    top: 42%;
    left: 0%;
  }
}
/* END Style */
/*MEdia Query */
@media (max-width : 1000px) {
  .predisposition .position-absolute {
    position: relative !important;
    top: 0%;
    left: 0%;
  }

  .precision .position-absolute {
    position: relative !important;
    top: 0%;
    left: 0%;
  }
}
/*END MEDIA */